body, table {
	margin:0;
	padding:0;
	font: normal 21px/42px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
table {
	border-collapse:collapse;
	width:100%;
	height:100%;
	position:fixed;
}
td, th {
	border:1px solid grey;
	position:relative;
}
th button {
	background:#FFBD2B;
}
button {
	border:none;
	display:block;
	width:100%;
	font-size:1em;
	height:100%;
	position:absolute;
	background:#DFDFDF;
	top:0;
	left:0;
}
button[data-action=input]{
	background:#F0F0F0;	
}
#result {
	padding:0 2em;
	text-align:right;
	width:100%;
	height:100%;
	box-sizing:border-box;
	border:none;
	font-size:1em;
}